.dd{position:relative;display:block;max-width:600px;list-style:none;font-size:13px;line-height:20px;margin:0;padding:0;}
.dd-list{display:block;position:relative;list-style:none;margin:0;padding:0;}
.dd-list .dd-list{padding-left:30px;}
.dd-collapsed .dd-list{display:none;}
.dd-item,.dd-empty,.dd-placeholder{display:block;position:relative;min-height:20px;font-size:13px;line-height:20px;margin:0;padding:0;}
.dd-handle{display:block;height:30px;color:#333;text-decoration:none;font-weight:700;border:1px solid #ccc;background:linear-gradient(top,#fafafa0%,#eee100%);-webkit-border-radius:3px;border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;margin:10px 0 0;padding:5px 10px;}
.dd-item > button{display:block;position:relative;cursor:pointer;float:left;width:25px;height:20px;text-indent:100%;white-space:nowrap;overflow:hidden;border:0;background:transparent;font-size:12px;line-height:1;text-align:center;font-weight:700;margin:5px 0;padding:0;}
.dd-item > button:before{content:'+';display:block;position:absolute;width:100%;text-align:center;text-indent:0;}
.dd-item > button[data-action=collapse]:before{content:'-';}
.dd-placeholder,.dd-empty{min-height:30px;background:#f2fbff;border:1px dashed #b6bcbf;box-sizing:border-box;-moz-box-sizing:border-box;margin:5px 0;padding:0;}
.dd-empty{border:1px dashed #bbb;min-height:100px;background-color:#e5e5e5;background-image:linear-gradient(45deg,#fff25%,transparent25%,transparent75%,#fff75%,#fff), linear-gradient(45deg,#fff25%,transparent25%,transparent75%,#fff75%,#fff);background-size:60px 60px;background-position:0 0 30px 30px;}
.dd-dragel{position:absolute;pointer-events:none;z-index:9999;}
.dd-dragel > .dd-item .dd-handle{margin-top:0;}
.dd-dragel .dd-handle{-webkit-box-shadow:2px 4px 6px 0 rgba(0,0,0,.1);box-shadow:2px 4px 6px 0 rgba(0,0,0,.1);}
.nestable-lists{display:block;clear:both;width:100%;border:0;border-top:2px solid #ddd;border-bottom:2px solid #ddd;padding:30px 0;}
#nestable-menu{margin:20px 0;padding:0;}
#nestable-output,#nestable2-output{width:100%;height:7em;font-size:.75em;line-height:1.333333em;font-family:Consolas, monospace;box-sizing:border-box;-moz-box-sizing:border-box;padding:5px;}
#nestable2 .dd-handle{color:#fff;border:1px solid #999;background:linear-gradient(top,#bbb0%,#999100%);}
#nestable2 .dd-handle:hover{background:#bbb;}
#nestable2 .dd-item > button:before{color:#fff;}
.dd-hover > .dd-handle{background:#2ea8e5!important;}
.dd3-content{display:block;height:30px;color:#333;text-decoration:none;font-weight:700;border:1px solid #ccc;background:linear-gradient(top,#fafafa0%,#eee100%);-webkit-border-radius:3px;border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;margin:5px 0;padding:5px 10px 5px 40px;}
.dd-dragel > .dd3-item > .dd3-content{margin:0;}
.dd3-item > button{margin-left:30px;}
.dd3-handle{position:absolute;left:0;top:0;cursor:pointer;width:30px;text-indent:100%;white-space:nowrap;overflow:hidden;border:1px solid #aaa;background:linear-gradient(top,#ddd0%,#bbb100%);border-top-right-radius:0;border-bottom-right-radius:0;margin:0;}
.dd3-handle:before{content:'?';display:block;position:absolute;left:0;top:3px;width:100%;text-align:center;text-indent:0;color:#fff;font-size:20px;font-weight:400;}
.dd3-handle:hover{background:#ddd;}
.dd-handle:hover,.dd3-content:hover{color:#2ea8e5;background:#fff;}

.menu-item-data{background:#ECECEC;width:95%;margin-left:2px;display:none;padding:10px;}
.dd{margin:0 0 0 20px;}
.dd-item .show-info{display:block;float:right;height:30px;width:30px;position:absolute;top:0;right:0;text-align:center;}
.dd-handle{text-align:left;}
.dd-item .show-info .caret{margin-top:15px;}
.item-cancel{padding:0 2px;}
.item-cancel:hover{background:#005580;color:#fff;}
.item-delete{color:red;padding:2px;}
.item-delete:hover{color:#fff;text-decoration:underline;background:red;}
.add-links-box .add-item-menu-title{width:280px;text-align:left;}
.add-links-body{background:#ECECEC;width:100%;overflow:hidden;margin-left:3px;padding:10px;}
.add-links-body .row .left-add-links-box{float:left;width:20%;}
.add-links-body .row .left-add-links-box label{line-height:28px;}
.add-links-body .row .right-add-links-box{float:left;width:80%;}
.add_to_menu{float:right;}
.row-left{float:left;width:30%;}
.row-right{float:right;width:58%;}
.menu-item-data input,.add-links-body .row .right-add-links-box input{width:95%;}
.control-section,.add-links-box{width:280px;}
.add-links-box .checks-panel {background: #fff;padding: 10px;margin: 0 0 10px 0;overflow: auto;max-height: 200px;border: 1px solid #ccc;font-size: 11px;}