.admin-tags {width: 362px;}
.admin-tags .heading span {vertical-align: middle;}
.admin-tags .heading {line-height: 26px;}
.admin-tags .heading .btn-inverse {float: right;}
.admin-tags .col {margin: 0;}