

/* Responsive------------------*/


	ul.bread_crumbs{
		max-width: 100%;
		padding: 10px 5% 10px 5%;
	}

	#full-width-slider img{
		margin: 0;
		max-width: 100%;
		height: auto;
	}

	#shopping-cart{
		overflow: scroll;
	}



@media screen and (max-width: 960px) {

	#mob-menu-buttom{
		width: 100%;
	    height: 40px;
	    background: url(../images/menu_icon.png) no-repeat left;
	    position: absolute;
	    margin-left: 5px;
	    left: 2px;
	    top: 2px;
	    cursor: pointer;
	}

	div.sliderkit.newslider-vertical{
		max-width: 100%;
	}

	p#box-btn.t-center{
		text-align: center;
	}

	div.three.columns{
		width: auto;
	}


	div.three.columns, div.nine.columns{
		width: 100%;
		padding: 0 5% 0 5%;
	}


	div.row{
		width: 100%;
	}

	div.six.columns{
		display: block;
		width: 100%;
	}


	span.heading, h1.heading, div.text_right.six.columns{
		text-align: center;
	}

	.top-info {
	font-size: 15px;
	font-weight: 400;
	text-align: left;
	display: block-inline;
	}

	div.top_panel{
		padding-left: 20%;
	}

	.basket .separator{
		text-align: center;
		display: block;
	}

	div.top_panel_left{
		padding-left: 0px;
	}

	.address{
		padding-top: 10px;
	}

	#search{
	text-align: left;
	display: inline-block;
	}

	#logo{
		min-width: 360px;
	}

	nav.main_menu{
		position: relative;
	   	overflow: hidden;  	
	}

	nav.main_menu.show{
		height: auto;
	}

	nav.main_menu > ul{
		position: relative;
     	overflow: hidden;
     	height: auto;     	
	}

	nav.main_menu > ul > li:first-child{
		text-align: center;
		display: list-item; 
		margin-top: 44px; 		  	
	}

	nav.main_menu > ul > li{
		display: list-item;
		text-align: center;
		background: url(../images/menu_bg.jpg) top repeat-x;
		height: 100%;
		cursor: pointer;
	}

	nav.main_menu > ul > li > a{
		width: 100%;
	}

	.main_menu > ul > li > a:last-child{
		pointer-events: auto !important;
	}

	nav.main_menu > ul > li > ul{
		position: inherit;
		visibility: hidden;
		opacity: 1;
		padding: 0px;
		height: 0px;
	}

	nav.main_menu > ul > li > ul.show{
		visibility: visible;
		padding: 10px;
		height: auto;

	}

	nav.main_menu > ul > li > ul > li{
		float: inherit;
		text-align: center;
		font-size: 14px;
	}

	nav.main_menu > ul > li > ul.show > li{
		margin: 10px 10px;
	}

	nav.main_menu > ul > li > ul > li > ul > li{
		font-size: 14px;
		margin: 10px 10px;
		visibility: hidden;
		height: 0px;
	}


	nav.main_menu > ul > li > ul.show > li > ul > li{
		font-size: 14px;
		margin: 10px 10px;
		visibility: visible;
		height: auto;
	}


	#carousel .jcarousel-prev.jcarousel-prev-horizontal{
		left: 10px;
		background-size: 100%;
		width: 45px;
		height: 45px;
		top: 15px;
		background: url(../images/arrow_left_slider.png);
	}

	#carousel .jcarousel-next.jcarousel-next-horizontal{
		right: 10px;
		background-size: 100%;
		width: 45px;
		height: 45px;
		top: 15px;
		background: url(../images/arrow_right_slider.png);
	}

	#vk_groups0{
		display: none;
	}

}

@media screen and (max-width: 794px){

	div.nine.columns > span.heading {
		display: none;
	}

	div.sliderkit.newslider-vertical{
		display: none;
		height: 0px;
	}

	.newslider-vertical .sliderkit-nav {
		display: none;
	}

	.newslider-vertical .sliderkit-panels{
		display: none;
	}

}

@media screen and (max-width: 760px) 
{
	div.five.columns{
		width: 100%;
	}

	div.seven.columns{
		width: 100%;
	}

	#logo{
		min-width: 180px;
	}

	.basket .separator{
		display: block;
	}

	#floating-panel{
		display: none;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { /*border: 1px solid #ccc;*/ }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		/*border-bottom: 1px solid #eee; */
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	.products table,
	.products .item_product	.img,
	.products .item_product	.description,
	.products .item_product	.number,
	.products .item_product .price{
		width: auto;
	}

	.products .item_product	.description,
	.products .item_product	.number{
		text-align: center;
	}

	td{
		text-align: center;
		padding-left: 10px;
	}

	.products .item_product .number input{
		width: 40px;
	}

	.products .item_product .price {
		float: none;
		margin-left: 0;
	}

	#shopping-cart{
		overflow: hidden;
	}

	.total, .order_buttons{
		text-align: center;
	}

}


@media screen and (max-width: 650px) {

	div.main_slider{
		display: none;
		max-width: 0; 
	}

	div.top_panel_left{
		width: 100%;
	}

	.two, .row .two{
		min-width: 100%;
		display: table;
		float: none;
		text-align: center;
	}
	#logo{		
		text-align: center;
	}

	.link_top{
		text-align: center;
	}

	.ten, .row .ten{
		min-width: 100%;
		display: table;
		vertical-align: middle;
	}

	ul.menu{
		display: inline;
		text-align: inherit;
	}

	.review_form .input_style, 
	.review_form .textarea_style {
		width: 100%;
	}

}

@media screen and (max-width: 480px) {

	div.white_block{
		padding: 20px 1% 20px 1%;
	}

	div.top_panel{
		padding-left: 10%;
	}

	nav.main_menu > ul > li{
		display: list-item;
		text-align: center;
	}

	#search{
		text-align: center;
		display: block;
		width: 100%;
		margin: 0 0 0 0; 

	}

	.ten, .row .ten{
		min-width: 100%;
		display: list-item;
		vertical-align: middle;
	}	

	.row form .row { margin: 0; }

}

@media screen and (max-width: 380px) {


	div.top_panel_left{
		width: 100%;
		text-align: center;

	}

	div.top_panel{
		padding-left: 1%;
	}

	.address{
		padding-left: 1%;
		text-align: center;
		width: 100%;
	}

	span.phone2, span.phone4{
		display: inline-block;
	}



}
/* ------------------Responsive*/
