.royalSlider {
	width: 100%;
	height: 280px;
	position: relative;	
}
.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0); 
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
	-webkit-transform: none;
}
.rsOverflow {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	float: left;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsContainer {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsArrow,
.rsThumbsArrow {
	cursor: pointer;
}

.rsArrow.rsArrowLeft {
	position: absolute;
	z-index:100;
	top:50%;
	margin-top:-22px;
	left:25px;
	background: url(../images/arrow_left_slider.png) no-repeat;
	width:45px;
	height: 45px;
}
.rsArrow.rsArrowLeft.rsArrowDisabled,
.rsArrow.rsArrowRight.rsArrowDisabled {
	opacity: 0 !important;
}


.rsArrow.rsArrowRight {
	position: absolute;
	z-index:100;
	top:50%;
	margin-top:-22px;
	right:25px;
	background: url(../images/arrow_right_slider.png) no-repeat;
	width:45px;
	height: 45px;
}

.rsArrow.rsArrowLeft,
.rsArrow.rsArrowRight {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.rsArrow.rsArrowLeft:hover,
.rsArrow.rsArrowRight:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.rsHidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}
.rsGCaption {
	width: 100%;
	float: left;
	text-align: center;
}
.royalSlider.rsFullscreen {
	position: fixed !important;
	height: auto !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 2147483647 !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}
.royalSlider .rsSlide.rsFakePreloader {
	opacity: 1 !important;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition:  0s;
	transition:  0s;
	display: none;
}
.rsSlide {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;	
	height: 100%;
	width: 100%;
}
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
	height: auto;
}
.rsContent {
	width: 100%;
	height: 100%;
	position: relative;
}
.rsPreloader {
	position:absolute;
	z-index: 0;	
}
.rsNav {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}
.rsNavItem {
	-webkit-tap-highlight-color:rgba(0,0,0,0.25);
}
.rsThumbs {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	float: left;
	z-index: 22;
}
.rsTabs {
	float: left;
}
.rsTabs,
.rsThumbs {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
#full-width-slider img {
	max-width: none !important;
	height: auto !important;
}
#full-width-slider {
  width: 100%;
}
.infoBlock {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;  
  overflow: hidden;
}

.rsABlock {
	left: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	z-index: 25;
	-webkit-backface-visibility: hidden;
}

.style_text {
	padding: 10px 30px;
	color: #fff;
	line-height: 1.2;
	font-size:18px;
	text-align: left;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
}

.style_text strong {
	font-size:26px;
}

.content_slide {
	position: absolute;
	width:100%;
	left:0;
	top:0;
	height: 280px;
}

.content_slide .row {
	height: 280px;
}

.content_slide .row .twelve {
	height: 280px;
}